.component-async-block {
  position: relative;

  .response {
    margin-top: 10px;
  }

  .error {
    color: red;
  }

  .data-text {
    padding: 10px;
    border: 1px solid #f3eaea;
    width: 600px;
    height: 500px;
    overflow: scroll;
    word-wrap: break-word;
    font-size: 13px;
    color: #696868;
    margin-top: 10px;
  }

  .loader-component {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.6);
  }
}